<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.jira.server.mapper.ProjectMapper">
    <resultMap id="ProjectMap" type="com.mf.jira.server.model.Project">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="person_id" jdbcType="BIGINT" property="personId"/>
        <result column="organization" jdbcType="VARCHAR" property="organization"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="pin" javaType="BOOLEAN" property="pin"/>
    </resultMap>
    <select id="getAllProjects" resultMap="ProjectMap">
        select * from `jira`.t_project
    </select>
    <select id="getProject" resultMap="ProjectMap">
        select * from `jira`.t_project
        where name like '%#{name}%';
    </select>
    <select id="getProjectById" resultMap="ProjectMap">
        select * from `jira`.t_project
        where id = #{id}
    </select>
    <update id="updateProjectPin" parameterType="com.mf.jira.server.model.Project">
        update `jira`.t_project
        set pin = #{pin}
        where id =#{id}
    </update>
    <delete id="deleteProjectById">
        delete from `jira`.t_project
        where id = #{id}
    </delete>
    <insert id="addProject" parameterType="com.mf.jira.server.model.Project">
        insert into `jira`.t_project
        (
         name,
         person_id,
         organization
         )
        values
        (
         #{name},
         #{personId},
         #{organization}
        )
    </insert>
</mapper>